*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background: linear-gradient(135deg,#667eea,#764ba2);
    height:100vh;
}

.app{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* LOGIN */
.login-box{
    background:rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);
    padding:40px;
    border-radius:15px;
    text-align:center;
    color:white;
}

.login-box input{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    margin-top:15px;
}

.login-box button{
    margin-top:20px;
    padding:12px 20px;
    border:none;
    border-radius:8px;
    background:#ffcc00;
    font-weight:bold;
    cursor:pointer;
}

/* CHAT LAYOUT */
.chat-layout{
    width:95%;
    height:95%;
    background:rgba(255,255,255,0.12);
    backdrop-filter: blur(10px);
    border-radius:20px;
    display:flex;
    overflow:hidden;
}

/* SIDEBAR */
.sidebar{
    width:25%;
    background:rgba(0,0,0,0.4);
    padding:15px;
    color:white;
}

.sidebar h2{
    margin:10px 0;
}

.sidebar li{
    list-style:none;
    background:rgba(255,255,255,0.1);
    padding:8px;
    margin:5px 0;
    border-radius:8px;
    cursor:pointer;
}

/* CHAT AREA */
.chat-area{
    width:75%;
    display:flex;
    flex-direction:column;
}

.messages{
    flex:1;
    padding:15px;
    overflow-y:auto;
    color:white;
}

.toolbar{
    display:flex;
    padding:5px;
    background:rgba(0,0,0,0.3);
}

.toolbar button{
    margin-right:5px;
    padding:8px;
    border:none;
    background:#ffcc00;
    border-radius:5px;
    cursor:pointer;
}

.emoji-panel{
    background:#fff;
    padding:10px;
}

.input-box{
    display:flex;
    padding:10px;
    background:rgba(0,0,0,0.3);
}

.input-box input{
    flex:1;
    padding:12px;
    border:none;
    border-radius:10px;
}

.input-box button{
    padding:12px 20px;
    margin-left:10px;
    background:#ffcc00;
    border:none;
    border-radius:10px;
}
.emoji-panel span {
    font-size: 22px;
    cursor: pointer;
    padding: 6px;
    display: inline-block;
}
.emoji-panel span:hover {
    transform: scale(1.3);
}
